h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 70px;
}



div {
    display: inline-block;
    margin: 70px 300px;
    padding: 50px;
    justify-content: space-around;
    }
    
a:link {color: black; text-decoration: none;}
/* visited link */
a:visited {
        color: black; text-decoration: none;}
/* mouse over link */
a:hover {color: grey; text-decoration: none;}

.boxed{border: none ;
width:280px}
